.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    
    height: auto;
  }
  
  .slide.active {
    display: block;
  }
  .dulich{
    color: orangered;
    text-align: center;
    border-radius: 10px;
  }
  .tb11{
       
    margin-left: 15px;
    padding: 0px;
    
}
.tb1 img{
    width: 30%;
    border-radius: 5%;
    margin: 10px;
}
.tb12{
    margin-left: 30px;
}
.dd{
    
    padding: 50px;
    margin-left: 12%;
    margin-right:12%;
}
h2{
    text-align: center;
    color: red;
}

body{
    background-color: #FFFFFF;
}

  